langchain
python-dotenv
langchain-community
pypdf
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
langchain_chroma
duckdb
pandas
openai
langchain_groq
duckduckgo-search
pytube
numexpr